<div class="task-container">
  <h1 class="title">Task Management</h1>
  
  <div class="input-group">
    <input 
      type="text" 
      [(ngModel)]="taskInput" 
      (keyup.enter)="addTask()" 
      placeholder="Enter task description" 
      class="task-input">
    <button (click)="addTask()" class="add-button">Add</button>
  </div>
  
  <ul class="task-list">
    <li class="task-item" *ngFor="let task of tasks">
      <span class="task-text">{{ task.text }}</span>
      <button (click)="removeTask(task.id)" class="remove-button">Remove</button>
    </li>
  </ul>
</div>
